body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.editor {
    background: white;
    padding: 15px;
    width: 320px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.editor h3 {
    margin-bottom: 10px;
}

.editor label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.editor input {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

.poster {
    position: relative;
    width: 800px;
}

.poster img {
    width: 100%;
    display: block;
}

.text {
    position: absolute;
    font-weight: bold;
    color: #6F42A6;
    pointer-events: none;
}

.star {
    top: 128px;
    left: 162px;
    font-size: 21px;
    color: rgb(197, 68, 20);
    background-color: yellow;
    padding: 1px 1px;
}

.sthan {
    top: 375px;
    left: 140px;
    font-size: 18px;
    background-color: WHITE;
    padding: 2px 2px;
}
.start-date {
    position: absolute;
    top: 400px;
    left: 143px;
    font-size: 18px;
    background-color: WHITE;
    padding: 2px 3px;
}
.end-date {
    position: absolute;
    top: 400px;
    left: 263px;   /* right side of start date */
    font-size: 18px;
    background-color: WHITE;
    padding: 2px 3px;
}
.start-time {
    position: absolute;
    top: 425px;
    left: 198px;
    font-size: 18px;
    background-color: WHITE;
    padding: 1px 1px;
}

.end-time {
    position: absolute;
    top: 425px;
    left: 262px;  
    font-size: 18px;
    background-color: WHITE;
    padding: 1px 1px;
}
.soujanya1 {
    top: 473px;
    left: 150px;
    font-size: 17px;
    background-color: WHITE;
    padding: 2px 8px;
    color: #1E73B9;
}
.soujanya2 {
    top: 493px;
    left: 150px;
    font-size: 17px;
    background-color: WHITE;
    padding: 2px 8px;
    color: #1E73B9;
}
.soujanya3 {
    top: 514px;
    left: 150px;
    font-size: 17px;
    background-color: WHITE;
    padding: 2px 8px;
    color: #1E73B9;
}   
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .editor {
        width: 95%;
    }

    .poster {
        transform: scale(0.45);
        transform-origin: top center;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}

.downloadBtn{
    background-color: rgb(93, 201, 38);
}